
body {
  background-color: #000 !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 1rem;
  margin: 0;
}

.card {
  background-color:  rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 1rem;
  max-width: 450px;
  margin: 1rem auto 2rem auto;
  text-align: center;
}

.card img {
  display: block;
  width: 120px;
  height: 180px;
  border-radius: 8px;
  margin: 0 auto 1rem ;
}

h2 {
  text-align: center;
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  color: #fff;
}

.meta {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-weight: 600;
  font-size: 0.9rem;
  color: #aaa;
  margin-bottom: 0.8rem;
}

.meta i {
  margin-right: 5px;
  color: #f5c518; /* gold star color */
}

.genre {
  text-align: center;
  font-size: 0.9rem;
  color: #ccc;
  margin-bottom: 1.5rem;
  font-weight: 500;
}

.section {
  background-color:  rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 1rem 1.2rem;
  margin-bottom: 1.5rem;
  color: #ddd;
  font-size: 1rem;
  line-height: 1.5;
}

.section h3 {
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.btn-back {
  display: block;
  background: transparent;
  border: 1px solid #555;
  color: #eee;
  padding: 0.6rem 1rem;
  border-radius: 10px;
  max-width: 450px;
  margin: 0 auto 2rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  text-align: center;
}

.btn-back i {
  margin-right: 8px;
}

.btn-back:hover {
  background-color: #555;
  border-color: #888;
}

  .h21 {
    font-weight: 700;
    margin-bottom: 12px;
  }
  .btn-toggle {
    display: inline-block;
    padding: 8px 16px;
    margin-right: 8px;
    border: 1.5px solid #eee;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    font-weight: 600;
  }
  .btn-toggle.active {
    background: #6b45fa;
    border-color: #6b45fa;
    color: #fff;
  }
  #chapterList {
    margin-top: 16px;
  }
  .chapter-item {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    margin-bottom: 12px;
    padding: 14px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    color: #ffff;
  }
  .chapter-item i {
    margin-right: 8px;
  }
  .views {
    opacity: 0.6;
    font-weight: 400;
    display: flex;
    align-items: center;
  }
  .views i {
    margin-right: 6px;
  }
